@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&family=Ubuntu:wght@400;500;700&display=swap");

/*
base: #FDFBFB;
primária: #DE0235;
vermelho claro: #E3466B;
vermelho escuro: #AB0229;
vermelho escurão: #5E1D2C;
marrom: #1E0D14;
*/

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #fdfbfb;
}

body,
input,
button,
textarea {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
}

.txt-condensed {
  font-family: "Ubuntu Condensed", sans-serif;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.container {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.dflex {
  display: flex !important;
}

.acenter {
  align-items: center;
}

.jcenter {
  justify-content: center;
}

.jbetween {
  justify-content: space-between;
}

.fwrap {
  flex-wrap: wrap;
}

.prelative {
  position: relative;
}

.fdcolumn {
  flex-direction: column;
}

a,
a:hover {
  text-decoration: none;
}

.input:focus-visible {
  outline: none;
}

a {
  transition: all 0.4s;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}


.user-input-wrp {
	position: relative;
	width: 100%;
  display: flex;
}
.user-input-wrp.total {
	width: 100%;
}
.user-input-wrp .input{
	outline: none;
  width: 100%;
  color: #fff;
  border: 2px solid transparent;
  transition: all .4s;
}
.user-input-wrp .floating-label {
	position: absolute;
	pointer-events: none;
	top: 12px;
	left: 12px;
	transition: 0.2s ease all;
	font-size: 17px;
}
.user-input-wrp .input:focus ~ .floating-label, .user-input-wrp .input.focus ~ .floating-label,
.user-input-wrp .input:not(:focus):valid ~ .floating-label, .user-input-wrp .input:not(.focus):valid ~ .floating-label,
.user-input-wrp .input:disabled ~ .floating-label {
	top: -2px;
	left: 8px;
	font-size: 13px;
	opacity: 1;
	font-weight: bold;
  color: #fff;
  background: #af0229;
}

.user-input-wrp .input:focus, .user-input-wrp .input.focus, .input.mensagem:focus {
  border: 2px solid #fff;
  background-color: #ab0229;
	box-shadow: 0px 4px 14px 5px #de0235;
}

.page {
  min-height: 100vh;
  padding: 50px 0;
}

.card {
  border-radius: 10px;
  box-shadow: 0px 3px 10px 0px #de0235;
  padding: 40px;
}

.bg-dark-red,
.bg-hover-dark-red:hover {
  background-color: #AB0229;
}

.bg-red {
  background-color: #de0235;
}

.bg-white,
.bg-hover-white:hover {
  background-color: #fdfbfb;
}

.txt-white,
.txt-hover-white:hover {
  color: #fff;
}

.txt-black {
  color: #000;
}

.txt-dark-red,
.txt-hover-dark-red:hover {
  color: #AB0229;
}

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-medium {
  font-weight: 500;
}

.button {
  display: block;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  margin: 25px 0;
  box-shadow: 0px 4px 4px 0px #de0235;
  width: max-content;
  max-width: 100%;
  padding: 9px 17px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all .4s;
}

.button.align-right {
  margin: 40px  0 0 auto;
}

.button.shadow-smooth:hover {
  box-shadow: 0px 4px 14px 0px #de0235;
}

.button:hover {
  box-shadow: 0px 4px 14px 5px #de0235;
  border-color: #fff;
}

.button.big {
  padding: 20px 25px;
  font-size: 20px;
  width: 100%;
  border: none;
}

.button.big:hover {
  box-shadow: 0px 0px 15px 0px #fff;
}

.button.circle {
  border-radius: 50%;
  padding: 0;
  height: 50px;
  width: 50px;
  margin: 0 10px 40px;
}

.logo {
  width: 180px;
  margin: 0 auto;
  display: block;
}

.card .logo {
  width: 300px;
}

.logo-menor {
  width: 250px !important;
}

.buttons {
  margin: 50px 0;
}

.transform {
  transition: all .4s;
  display: block;
}

.transform:hover {
  transform: scale(1.1);
}

.login a {
  margin-left: 7px;
}

.input {
  border-radius: 10px;
  border: none;
  height: 34px;
  margin-top: 5px;
  box-shadow: 0px 5px 4px 0px #de0235;
  padding: 0 10px;
}

.campos .button {
  margin: 0 auto;
}

.campos .input {
  margin-bottom: 30px;
}

.campos {
  margin: 45px 0;
}

.width-2 {
  width: calc(100%/6 - 20px);
  margin: 10px 0;
}

.width-4 {
  width: calc(100%/3 - 20px);
  margin: 10px 0;
}

.width-5 {
  width: calc(100%/6 * 2.5 - 20px);
  margin: 10px 0;
}

.width-8 {
  width: calc(100%/3 * 2 - 20px);
  margin: 10px 0;
}

h2 {
  margin: 35px 0 10px;
  font-size: 20px;
}

.txt-bigger {
  font-size: 20px;
}

.margin-top-thirty {
  margin-top: 30px;
}

/* From uiverse.io by @alexmaracinaru */
.cta {
  border: none;
  background: none;
  margin-top: 30px;
  cursor: pointer;
 }
 
 .cta span {
  padding-bottom: 7px;
  letter-spacing: 1px;
  padding-right: 15px;
  font-weight: 500;
  font-size: 20px;
 }
 
 .cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
  margin-right: -25px;
 }
 
 .cta:hover svg {
  transform: translateX(0);
 }
 
 .cta:active svg {
  transform: scale(0.9);
 }
 
 .hover-underline-animation {
  position: relative;
  color: #000;
  padding-bottom: 20px;
 }
 
 .hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2.5px;
  bottom: 0;
  left: 0;
  background-color: #ab0229;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  box-shadow: 0px 0px 15px 0.2px #de0235;
  border-radius: 9px;
 }
 
 .cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
 }

